.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
.idea

backstop-tests/muse/reference/
backstop-tests/muse/test/
backstop-tests/mist/reference/
backstop-tests/mist/test/
backstop-tests/pisces/reference/
backstop-tests/pisces/test/